
@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-3">
                    <button type="button" class="btn btn-primary" onclick="location.href='/Vehiculo/Registrar'">Registrar Vehiculo</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary"> PROBANDO 1 </button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary"> PROBANDO 2</button>
                </div>
            </div>
        </div>
        <br />
        <div class="page-header">
            <h1 class="text-center text-success"> <strong>  Registrar Nuevo Ingreso </strong></h1>
        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <p> Fecha Entrada</p>
            </div>
            <div class="col">
                <p> Hora Entrada</p>
            </div>
            <div class="col">
                <p> Patente Vehiculo</p>
            </div>
        </div>
        <form action="/Aparcamiento/Registrar" method="post">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="fechaEntrada" class="form-control" value="@ViewBag.fechaActual" readonly onmousedown="return false;">
                </div>
                <div class="col">
                    <input type="text" name="horaEntrada" class="form-control" value="@ViewBag.horaActual" required>
                </div>
                <div class="col">
                    <input type="text" name="patente" class="form-control" required placeholder="patente">
                </div>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
        </form>
    </div>